{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h5>AtypikHouse</h5>
 <p>« AtypikHouse » est une nouvelle SARL au capital de 10 000€ composée de 3 associés partageant 
les mêmes passions pour les voyages, l‘habitat alternatif et la vie en harmonie avec la nature.
En réunissant leurs moyens techniques et financiers, leurs compétences et leur amitié, ils ont créé leur 
société sur la location d’habitations insolites, comme les cabanes dans les arbres, les yourtes ou les cabanes 
flottantes...
La société « AtypikHouse » est basée dans la localité de Pierrefonds, dans le département de l’Oise et 
cherche à mettre en place un service de location d’habitat alternatif en France et en Europe. </p>

{% endblock %}
