  <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-primary">AntypiqueHouse </h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
         
                <a href="/" class="nav-item nav-link active">Home</a>
                
               
                
            
                </div>
              
            </div>
            {% if app.user %}
          
           <a href="/compte">Mon compte</a> |  <a href="/deconnexion">deconnexion</a>
           {% else %}
            <a href="connexion">login</a> |  <a href="/inscription">add account </a>       
            {% endif %}      
        </div>
    </nav>
    <!-- Navbar End -->